<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone for Etsy</title>

    <script id="product-template" type="text/template">
         <img src="<%= image_medium %>"/>
         <p>Id: <%= id %></p>
         <p>Price: <%= price %></p>
         <p>Title: <%= title %></p>
         <p>Category: <%= category %></p>
         <button class="delete">Remove</button>
    </script>

</head>
<body>

	<h2>Sort Options</h2>

	<button id="sort-asc-btn">ASC</button>
	<button id="sort-desc-btn">DESC</button>
    <select id="sort-field-select">
    	<option value="price">Price</option> 
    	<option value="title">Title</option> 
    	<option value="category">Category</option>
	</select>

    <div id="product-list">
        <ul>
        </ul>
    </div>

    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/vendor/underscore.js"></script>
    <script src="../js/vendor/backbone.js"></script>

    <script src="../js/etsy-api.js"></script>
    <script src="../js/etsy-backbone.js"></script>

    <script>

        var listing = new ProductListingView({el: $('product-list')});

		var ProductRouter = Backbone.Router.extend({

		  routes: {
		  	"": "empty",
		    "about" : "showAbout",
		    "listing/:keywords": "search",
		    "listing/:keywords/:sort_field/:sort_dir" : "search",
		    "listing/:keywords/:sort_field/:sort_dir/:id" : "search"
		  },

		  empty: function() {
		  	//alert("empty root");
		  	this.search();
		  },

		  showAbout: function() { console.log("hello About"); },

		  search: function(keywords, sort_field, sort_dir, id) {

		  	// Better search: everytime we SORT by field -> query again! but more expensive!?

		  	keywords = keywords || "";
		  	sort_field = sort_field || "price";
		  	sort_dir = sort_dir || "DESC";

		  	if (id) {
		  		alert("We need to show Product " + id);
		  	}
		  	else {
			  	listing.collection.setSortField(sort_field, sort_dir);
				listing.render();
		  	}
		  }
		});

		var SortControl = (function() {

			var showSort = function(options) {
				console.log(options);
			};

			var init = function(fn) {
				showSort = fn;
			};

			// Sort control		
			var sortOptions = {
				direction: "ASC"
			  , field: "title"
			};
			
			$('#sort-field-select').val(sortOptions.field);

			$('#sort-asc-btn').on('click', function() {
				sortOptions.direction = "ASC";
				showSort(sortOptions);
			});
			$('#sort-desc-btn').on('click', function() {
				sortOptions.direction = "DESC";
				showSort(sortOptions);
			});

			$('#sort-field-select').on('change', function() {
				sortOptions.field = $(this).val();
				showSort(sortOptions);
			});

			return {
				init: init
			};
		})();

		listing.collection.setSortField("price", "DESC");
        listing.collection.fetch({keywords: "blue monkey"});


		var myRouter = new ProductRouter();

		Backbone.history.start();

		// URL Test cases:
		// routes.html
		// routes.html#
		// routes.html#listing/blue marionette/title/ASC
		// routes.html#listing/blue marionette/title/ASC/HHHHH


		SortControl.init(function showSort(options) {
			console.log(options);

			var route = "listing/blue marionette/" + options.field + "/" + options.direction;
			myRouter.navigate(route, { trigger: true } );
		});

	</script>


</body>
</html>
