<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone for Etsy</title>

    <script id="product-template" type="text/template">
         <img src="<%= image_medium %>"/>
         <p>Id: <%= id %></p>
         <p>Price: <%= price %></p>
         <p>Title: <%= title %></p>
         <p>Category: <%= category %></p>
         <button class="delete">Remove</button>
    </script>

</head>
<body>

	<h2>Sort Options</h2>

	<button id="sort-asc-btn">ASC</button>
	<button id="sort-desc-btn">DESC</button>
    <select id="sort-field-select">
    	<option value="price">Price</option> 
    	<option value="title">Title</option> 
    	<option value="category">Category</option>
	</select>

    <div id="product-list">
        <ul>
        </ul>
    </div>

    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/vendor/underscore.js"></script>
    <script src="../js/vendor/backbone.js"></script>

    <script src="../js/etsy-api.js"></script>
    <script src="../js/etsy-backbone.js"></script>
    <script src="../js/sort-control.js"></script>

    <script>

        var listing = new ProductListingView({el: $('product-list')});
		listing.collection.setSortField("price", "DESC");
        listing.collection.fetch({keywords: "orange monkey"});

		var myRouter = new ProductRouter(listing);

		Backbone.history.start();

		// URL Test cases:
		// routes.html
		// routes.html#
		// routes.html#listing/blue marionette/title/ASC
		// routes.html#listing/blue marionette/title/ASC/HHHHH


		SortControl.init(function showSort(options) {
			console.log(options);

			var route = "listing/orange monkey/" + options.field + "/" + options.direction;
			myRouter.navigate(route, { trigger: true } );
		});

	</script>


</body>
</html>
