<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Etsy Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
	<link rel="stylesheet" href="css/etsy.css"></link>

    <script id="product-template" type="text/template">
    	<div class="product">
         <img src="<%= image_medium %>"/>
         <p>Id: <%= id %></p>
         <p>Price: <%= price %></p>
         <p>Title: <%= title %></p>
         <p>Category: <%= category %></p>
         <button class="delete">Remove</button>
        </div>
    </script>

	<style type="text/css">
	</style>
</head>
<body>

	<div id="container">

		<header>
	        <div class="row-fluid search-box">
	        	<h1 class="span2">
	        		Search
	        	</h1>
	        	<div class="span6">
					<input type="text" id="keywords" value="" placeholder="Keyword" x-webkit-speech/>
	        	</div>
	        	<div class="span4">
					<button id="search-btn" class="btn btn-primary">Search</button>
	        	</div>
	        </div>

	        <div class="row-fluid sort-box">
	        	<h1 class="span2">
	        		Sort
	        	</h1>
	        	<div class="span6">
				    <select id="sort-field-select">
				    	<option value="price">Price</option> 
				    	<option value="title">Title</option> 
				    	<option value="category">Category</option>
					</select>

					<button id="sort-asc-btn" class="btn btn-info">ASC</button>
					<button id="sort-desc-btn" class="btn btn-info">DESC</button>
	        	</div>
	        	<div class="span4">
	        	</div>
	        </div>

		</header>


	    <div id="product-list">
	        <ul>
	        </ul>
	    </div>		


      <hr>

      <div class="footer">
        <p>&copy; Etsy 2013</p>
      </div>

	</div> <!-- container -->

	<script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/bootstrap.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
	<script src="js/vendor/jquery.blockUI.js"></script>
	
	<script src="js/etsy-api.js"></script>
	<script src="js/etsy-backbone.js"></script>

	<script src="js/search-control.js"></script>
	<script src="js/sort-control.js"></script>

	<script>

        var listing = new ProductListingView({el: $('product-list')});
		listing.collection.setSortField("price", "DESC");
        //listing.collection.fetch({keywords: "orange monkey"});

		SearchControl.init(listing);

		var myRouter = new ProductRouter(listing);

		Backbone.history.start();

		// URL Test cases:
		// etsy.html
		// etsy.html#
		// etsy.html#listing/blue marionette/title/ASC
		// etsy.html#listing/blue marionette/title/ASC/HHHHH

		SortControl.init(function showSort(options) {
			console.log(options);

			var keywords = SearchControl.getKeywords();
			var route = "listing/" + keywords + "/" + options.field + "/" + options.direction;
			myRouter.navigate(route, { trigger: true } );
		});

		if (Backbone.history.fragment) {
			var route = Backbone.history.fragment;
			// alert("Found route ### : " + route);

			// Neither is working... why?
			myRouter.navigate(route, { trigger: true });
			Backbone.history.loadUrl(Backbone.history.fragment);
		}

	</script>
</body>
</html>